{% extends "_base.html" %}
{% load static %} 
{% load crispy_forms_tags %} 
{% block style %}
{% comment %} <link rel="stylesheet" href="{% static  'inspections/style.css' %}"> {% endcomment %}

{% endblock style %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1فایلهای بارگذاری شده</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="#">خانه</a></li>
              <li class="breadcrumb-item active">جداول داده</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
         

          <div class="card">
            <div class="card-header">
              {% comment %} <h3 class="card-title">لیست فایلهای بارگزاری شده</h3> {% endcomment %}

           

            </div>
            <!-- /.card-header -->
            <div class="card-body">
				<h2>لیست بازرسی ها</h2>
				<table class=" table table-striped">
				<thead>
				<tr>
				<th>عنوان</th>    
				<th>بازرس</th>
				<th>شرکت مقصد</th>
				<th>تاریخ ثبت</th>
				<th>تاریخ آخرین اصلاح</th>
				<th>تاریخ بازرسی</th>
				<th>وضعیت بازرسی</th>

				</tr>
				</thead>
				<tbody>
          {% for inspection in object_list %}
          <tr>
          <td>{{ inspection.task }}</td>
          <td>{{ inspection.user }}</td>
          <td>{{ inspection.company }}</td>
          <td>{{ inspection.date_created }}</td>
          <td>{{ inspection.date_modified }}</td>
          <td>{{ inspection.referdate }}</td>
          <td style="background-color: {% if inspection.done %}#4CAF50{% else %}#f44336{% endif %}; color: white;">
          {% if inspection.done %}
          انجام شده
          {% else %}
          ناتمام
          {% endif %}
          </td>
          </tr>
          {% endfor %}
          </tbody>
				</table>
{% endblock content %}

</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->



