{% extends "_base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1>فایلهای بارگذاری شده</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-left">
<li class="breadcrumb-item"><a href="#">خانه</a></li>
<li class="breadcrumb-item active">جداول داده</li>
</ol>
</div>
</div>
</div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header">
<!-- Card header content -->
</div>
<!-- /.card-header -->
<div class="card-body">
<h1>ایجاد بازرسی جدید</h1>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<button type="submit" class="btn btn-primary mt-3">Save</button>
</form>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}