<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
        {% load crispy_forms_tags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button  class="btn btn-success"   type="submit">Upload</button>
          </form>
    </body>
</html>


{% comment %} <div class="container mt-4">
    <div class="row">
        <div class="col-9">
            {% for post in posts_list %}
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted small py-2">2 Sep 2021</h6>
                    <p class="card-text py-3">
                      {{post.text}}
                    </p>
                    <a href= "{% url 'post_detail' post.id %}" class="btn btn-sm btn-success">Read More</a>
                    <a href= "{% url 'post_update' post.id %}" class="btn btn-sm btn-info">edit</a>
                    <a href= "{% url 'post_delete' post.id %}" class="btn btn-sm btn-info">delete</a>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="col-3">

            <div class="card my-4">
                <h5 class="card-header">About</h5>
                <div class="card-body">
                    <p class="card-text">We love python and django. So we created a blog site to share our
                        thoughts</p>
                    <a href="#"
                       class="btn btn-sm btn-danger">
                        More...
                    </a>
                </div>
            </div>

          # //document.File_addr.name.split('/')[-1]
            #  saveXML2db(request,document.File_addr,request.user,file_name)
        </div>
    </div>
</div>
//code.jquery.com/ui/1.12.1/jquery {% endcomment %}
